b {
  font-size: 30px;
}
pre {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.taxi-barer {
background-color:white;
  padding: 10px;
  text-align: center;
  width: 100%;
  
}

.ekar-nkar{
margin: 5px;
}
body {
  background-image:url("l-lzmdAnOS60.jpg");
}